@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    position:fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #311307d3;
    color: #fff;
    z-index: 99;
    font-size: 1.5rem;
} 
nav a, i{
    font-size: 1.5vw;
    text-decoration: none;
    color: #fff;
    margin-left: 60px;
}
nav a:hover{
    color: #a9774e;
}
.centre{
    display: flex;
    gap: 3vw;
}
.logo{
    font-size: 1.6rem;
    font-weight: bold;
}
.logo span{
    color: #bc8659;
}

.cntr-nav{
    display: flex;
    gap: 1.5vw;
}
.cntr-nav:hover{
    color: #a9774e
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(bg\ chocolate.avif);
}
.header h1{
    font-size: 8vw;
    font-family: 'ED Garamond', serif;
    color: #fff;
}
#chocolate{
    position: absolute;
    top: 20%;
    left: 38%;
    width: 27%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#can{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#chocolate2{
    position: absolute;
    top: 70%;
    right: 38%;
    width: 15%;
    z-index: 3;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#almond{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    z-index: 3;
    transform: rotate(60deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#almond2{
    position: absolute;
    top: 70%;
    left: 80%;
    width: 11%;
    z-index: 3;
    transform: rotate(-150deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(90deg, #a9774e,#864831,#402014) ;
}
.about-left, .about-right{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 18vh;
    gap: 7vh;
    width: 45%;
    height: 100%;
    font-size: 2vw;
}
.about-left img{
    margin-top: 35vh;
    width: 90%;
    height: 155%;
    transform: rotateX(20deg);
}
.about-right h1{
    color: #fff;
    font-size: 5vw;
    margin-top: -53vh;

}
.about-left p{
    font-size: 10vw;
    width: 80%;
    color: #fff;
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}


@media (max-width:799px) {
    .cntr-nav{
        position: relative;
        top: 300px;
        width: 100%;
        right: -100%;
        height: 100vh;
        background-color: #402014;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 120px;
        transition: all .5s ease;
    }

    .menu-icon{
        display:flex;
    }
    .cntr-nav.active{
        display: flex;
        right: 0%;
    }
    .cntr-nav a{
        display: flex;
        margin: 15px 0;
        font-size: 2.2rem;
    }

}
.points h2{
    color: #4e2c06cd;
    font-size: 4.5vw;
    margin-top: -110px;
    margin-left: -68px;
    gap:2px;
}
.points {
    margin-top: -59vh;
}

.points {
    color: #fff;
    font-size: 2.5vw; 
    margin-left:800px;
}
